@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.show-page-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.show-page-body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.show-page-card {
  margin-bottom: 70px;
}
.show-page-card img {
  width: 100%;
}
.show-page-description {
  font-size: 20px;
}
.home-page-title {
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
}
.home-page-div-notfollowinganyone {
  margin-top: 50px;
}
.home-page-div-notfollowinganyone a {
  margin-top: 10px;
  display: block;
  border-radius: 25px;
  text-decoration: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  text-align: center;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 3px solid #212529;
}

.stats {
  display: flex;
  border: 1px solid rgba(0,0,0,.125);
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}
